{% extends "base1.html" %}

{% block content %}
    <style>
        .movie-box {
            border: 1px solid #000;
            padding: 10px;
            margin: 5px;
            width: 200px; /* Adjust as needed */
            text-align: center;
            display: inline-block;
        }
    </style>
    
    <h1>Current Movies</h1>
    <div class="movie-container">
        {% for movie in current_movies %}
            <div class="movie-box">
                {{ movie.Movie_Title }}
                <a href="{{ url_for('buy_tickets', username=username, movie_title=movie.Movie_Title) }}" class="buy-ticket-button">Buy Ticket</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
