<!-- forgot_password.html -->
{% extends 'base.html' %}

{% block head %}
    <title>Forgot Password</title>
{% endblock %}

{% block body %}
    <h1>Forgot Password</h1>
    <form action="/forgot_password" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="security_answer">Security Answer:</label><br>
        <input type="text" id="security_answer" name="security_answer" required><br><br>
        <input type="submit" value="Reset Password">
    </form>
{% endblock %}
