{% extends 'base.html' %}
{% block head %}
    <title>Forgot Password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            padding: 20px;
        }
        .container {
            max-width: 400px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: #333;
        }
        label {
            font-weight: bold;
            color: #666;
        }
        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #5b5858;
            border-radius: 5px;
            box-sizing: border-box;
        }
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color:#a791c2;
            color:#4c4a4a;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        input[type="submit"]:hover {
            background-color: #7f6e8a;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Forgot Password</h1>
        <form action="/forgot_password" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="security_answer">Security Answer (what is your favourite movie?):</label>
            <input type="text" id="security_answer" name="security_answer" required>
            <input type="submit" value="Reset Password">
        </form>
    </div>
{% endblock %}
