{% extends 'base.html' %}

{% block head %}
    <title>LOG IN</title>
    <style>
        .empty-lilac-box {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }
        .login-form {
            background-color: #92568b;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 300px;
        }
        .login-form label {
            font-weight: bold;
        }
        .login-form input[type="text"],
        .login-form input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
        }
        .login-form input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color:  #800080;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        .login-form input[type="submit"]:hover {
            background-color:  #5e125e;
        }
        .login-form a {
            display: block;
            text-align: center;
            margin-top: 10px;
            text-decoration: none;
            color: #c2c1c1;
        }
        .login-form a:hover {
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block body %}
<h1>Already a user? Log in Here!</h1><br><br>

    
        
        <div class="photo-left">
            <img src="/static/photo.jpg" alt="photo" class="photo">
        </div>
        
        <form action="/login" method="post" class="login-form">
            
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Login">
            <a href="/forgot_password">Forgot password?</a> <!-- Add this line -->
        </form>
        <div class="photo-right">
            <img src="/static/photo.jpg" alt="photo" class="photo">
        </div>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
