{% extends "base1.html" %}

{% block content %}
<style>
    .mobile-payment-container {
        text-align: center;
        margin: 20px auto;
        background-color: #c3afd4;
        max-width: 700px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    input, button {
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        width: 90%;
    }
    button {
        cursor: pointer;
        border: none;
        background-color: #a28ba9;
        color: white;
        transition: background-color 0.3s ease;
    }
    button:hover {
        background-color: #6f608d;
    }
    .form-item {
        margin-bottom: 15px;
    }
</style>

<div class="mobile-payment-container">
    <form action="{{ url_for('mobile_payment', movie_title=movie_title, username=username) }}" method="post">
        <h2>Mobile Payment</h2>
        <p>Movie Title: {{ movie_title }}</p>
        <p>Total Price: Tk.{{ total_price }}</p>
        <p>Format: {{ format }}</p>
        <p>Showtime: {{ time }}</p>
        <p>Date: {{ date }}</p>
        <input type="hidden" name="selected_seats" value="{{ selected_seats }}">
        <input type="hidden" name="format" value="{{ format }}">
        <input type="hidden" name="time" value="{{ time }}">
        <input type="hidden" name="date" value="{{ date }}">
        <input type="hidden" name="total_price" value="{{ total_price }}">
        <input type="text" name="mobile_number" placeholder="Mobile Number" required><br>
        <input type="text" name="transaction_id" placeholder="Transaction ID" required><br>
        <button type="submit">Confirm Payment</button>
    </form>
</div>
{% endblock %}
