{% extends 'base1.html' %}

{% block content %}
    <title>{{ movie.Title }} - Movie Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #C8A2C8;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #e2dfe3;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
        }

        .movie-details {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .movie-item {
            padding: 20px;
            border-bottom: 1px solid #ccc;
            transition: background-color 0.3s ease;
            margin-bottom: 10px; /* Add margin-bottom to create space between each movie detail */
        }



        .movie-title {
            font-weight: bold;
            color: #333;
        }

        .product-price {
            color: #555;
        }
        .rating-review-btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #622A77;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            margin-top: 20px; /* Add space above button */
        }

        .rating-review-btn:hover {
            background-color: #49195b;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1>{{ movie.Title }}</h1>
        <ul class="movie-details">
            <li class="movie-item">
                <span><strong>Genre:</strong> {{ movie.Genre }}</span><br>
                <span style="margin-bottom: 10px;"><strong>Description:</strong> {{ movie.Description }}</span><br>
                <span style="margin-bottom: 10px;"><strong>Director:</strong> {{ movie.Director }}</span><br>
                <span style="margin-bottom: 10px;"><strong>Actors:</strong> {{ movie.Actors }}</span><br>
                <span style="margin-bottom: 10px;"><strong>Year:</strong> {{ movie.Year }}</span><br>
                <span style="margin-bottom: 10px;"><strong>Runtime:</strong> {{ movie.Runtime }}</span><br>
                <span style="margin-bottom: 10px;"><strong>Rating:</strong> {{ movie.Rating }}</span><br>
                <span style="margin-bottom: 10px;"><strong>Votes:</strong> {{ movie.Votes }}</span><br>
                <span style="margin-bottom: 10px;"><strong>Revenue:</strong> {{ movie.Revenue }}</span><br>
                <span style="margin-bottom: 10px;"><strong>Metascore:</strong> {{ movie.Metascore }}</span><br>

            
            </li>
            <form action="{{ url_for('add_to_wishlist') }}" method="POST">
                <input type="hidden" name="Rank" value="{{ movie.Rank }}">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <button type="submit" class="rating-review-btn">Add to Wishlist</button>
            </form>
            <a href="/movie/{{ movie.Rank }}/rate_review?username={{ username }}" class="rating-review-btn">Rate and Review this Product</a>

        </ul>
        <div class="ratings-reviews">
            <h2>Ratings and Reviews</h2>
            {% if ratings_reviews %}
                {% for rating_review in ratings_reviews %}
                    <div class="rating-review">
                        <p><strong>Rating:</strong> {{ rating_review.rating }}</p>
                        <p><strong>Review:</strong> {{ rating_review.review }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No ratings and reviews yet.</p>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}
