{% extends "base1.html" %}

{% block content %}
<style>
    .payment-options-container {
        text-align: center;
        margin: 20px auto;
        background-color: #c3afd4;
        max-width: 700px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    .payment-option {
        padding: 20px;
        margin: 10px 0;
        border: 2px solid #a28ba9;
        border-radius: 5px;
        background-color: #e6d4e6;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .payment-option:hover {
        background-color: #d1bcd2;
    }
    .info {
        text-align: left;
        padding: 10px;
        font-size: 18px;
        color: #333;
        border-bottom: 1px solid #ccc;
    }
</style>

<div class="payment-options-container">
    <h2>Select Payment Method</h2>
    <div class="info">
        <strong>Movie Title:</strong> {{ movie_title }}<br>
        <strong>Ticket Price:</strong> Tk.{{ ticket_price }}<br>
        <strong>Format:</strong> {{ format }}<br>
        <strong>Time:</strong> {{ time }}<br>
        <strong>Date:</strong> {{ date }}<br>
        <strong>Selected Seats:</strong> {{ selected_seats }}<br>
    </div>
    <form action="{{ url_for('card_payment', movie_title=movie_title, username=username) }}" method="get">
        <input type="hidden" name="selected_seats" value="{{ selected_seats }}">
        <input type="hidden" name="format" value="{{ format }}">
        <input type="hidden" name="time" value="{{ time }}">
        <input type="hidden" name="date" value="{{ date }}">
        <input type="hidden" name="ticket_price" value="{{ ticket_price }}">
        <input type="submit" value="Pay via Card" class="payment-option">
    </form>
    <form action="{{ url_for('mobile_payment', movie_title=movie_title, username=username) }}" method="get">
            <input type="hidden" name="selected_seats" value="{{ selected_seats }}">
            <input type="hidden" name="format" value="{{ format }}">
            <input type="hidden" name="time" value="{{ time }}">
            <input type="hidden" name="date" value="{{ date }}">
            <input type="hidden" name="ticket_price" value="{{ ticket_price }}">
            <input type="submit" value="Pay via Mobile" class="payment-option">
    </form>
</div>
{% endblock %}

